.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-button {
  margin: 1rem 0;
  padding: .5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
}

.meta {
  display: flex;
  flex-direction: row;
}

.meta div:first-of-type {
  margin-right: 2rem;
}
